<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>行政登记</title>
    <?php include_once $_SERVER["DOCUMENT_ROOT"] . "/Public/include/resources.php"; ?>
</head>
<body>
<div class="row">
    <form id="J_FORM" class="form-panel" action="data" method="post" style="margin-bottom:0;">
        <input type="hidden" name="join" value="edy_employee e on e.id = a.e_id"/>
        <div class="panel-title">
            <span>
                <label>姓名：</label>
                <input type="text" class="control-text" name="like_e:real_name" value="" />

                <label>假别：</label>
                <select name="eq_a:type">
                    <option value="">全部</option>
                    <option value="1">事假</option>
                    <option value="2">病假</option>
                    <option value="3">调休</option>
                    <option value="4">外出</option>
                    <option value="5">丧假</option>
                    <option value="6">年假</option>
                    <option value="7">婚假</option>
                    <option value="8">产假</option>
                </select>
            </span>
        </div>
        <ul class="panel-content">
            <li>
                <button type="submit" class="button button-primary">查询>></button>
            </li>
        </ul>
    </form>
</div>
<div id="grid"></div>
<script>
    (function($) {
        $(function() {
            var Grid = BUI.Grid, Data = BUI.Data;
            var editing = new Grid.Plugins.CellEditing({
                triggerSelected : false //触发编辑的时候不选中行
            });
            var Grid = Grid,
                Store = Data.Store,
                columns = [
                    {title: 'id', dataIndex: 'id', width: 60},
                    {title: '姓名', dataIndex: 'real_name', width: 60},
                    {title: '类型', dataIndex: 'type', width: 60, renderer: function(val, row) {
                        return {1: "事假", 2: "病假", 3: "调休", 4: "外出", 5: "丧假", 6: "年假", 7: "婚假", 8: "产假"}[val];
                    }},
                    {title: '开始日期', dataIndex: 'begin_time', width: 150},
                    {title: '结束时间', dataIndex: 'end_time', width: 150},
                    {title: '备注', dataIndex: 'remark', width: 150},
                    {title: '操作', dataIndex: 'id', width: 60, renderer: function(val, row) {
                        return edy.rendererHelp.createLink("/index.php/home/exception/edit?id=" + val, "编辑")
                    }}
                ];
            var store = new Store({
                url : '/index.php/home/exception/data',
                autoLoad:true, //自动加载数据
//                        params : $("#J_FORM").serialize(),
                pageSize:30	// 配置分页数目
            }),
            grid = new Grid.Grid({
                render:'#grid',
                columns : columns,
                loadMask: true, //加载数据时显示屏蔽层
                store: store,
                // 底部工具栏
                bbar:{
                    // pagingBar:表明包含分页栏
                    pagingBar:true,
                },
                tbar:{ //添加、删除
                    items : [{
                        btnCls : 'button button-small',
                        text : '<i class="icon-plus"></i>添加',
                        listeners : {
                            'click' : function() {
                                location.href = "/index.php/home/exception/edit";
                            }
                        }
                    },
                    {
                        btnCls : 'button button-small',
                        text : '<i class="icon-remove"></i>删除',
                        listeners : {
                            'click' : function() {
                                var ids = getSelections();
                                if (!ids) {
                                    return edy.alert("至少选择一个记录");
                                }
                                $.post("/index.php/home/exception/delete", {ids: ids}, function(data) {
                                    if (edy.ajaxHelp.handleAjax(data)) {
                                        edy.alert("删除成功！");
                                        reload();
                                    }
                                });
                            }
                        }
                    }, {
                        btnCls : 'button button-small',
                        text : '<i class="icon-plus"></i>导入',
                        listeners : {
                            'click' : function() {
                                location.href = "/index.php/home/exception/viewImport"
                            }
                        }
                    }]
                },
                plugins : [editing,Grid.Plugins.CheckSelection],
            });
            grid.render();
            var form = new BUI.Form.HForm({
                srcNode : '#J_FORM'
            }).render();
            form.on('beforesubmit',function(ev) {
                //序列化成对象
                var obj = form.serializeToObject();
                obj.start = 0; //返回第一页
                store.load(obj);
                return false;
            });
            function getSelections() {
                var selections = grid.getSelection();
                var ids = [];
                for (var key in selections) {
                    ids.push(selections[key].id);
                }
                return ids.join(",");
            }
            function reload() {
                store.load();
            }
        });
    } (jQuery));
</script>
</body>
</html>