<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <?php include_once $_SERVER["DOCUMENT_ROOT"] . "/Public/include/resources.php"; ?>
</head>
<body>
<ul class="breadcrumb">
    <li><a href="/index.php/home/employee/viewList">员工管理</a> <span class="divider">/</span></li>
    <li class="active">导入员工</li>
</ul>
<form id="J_Form" action="/index.php/home/employee/excel" method="post" enctype="multipart/form-data" class="form-horizontal">
    <div class="tips tips-small tips-info">
        <span class="x-icon x-icon-small x-icon-info"><i class="icon icon-white icon-info"></i></span>
        <div class="tips-content">用初始的考勤文件做导入</div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="file" name="file" id="file" data-rules="{required:true}" /><br>
        </div>
    </div>
    <div class="row actions-bar">
        <div class="form-actions span13 offset3">
            <button type="submit" class="button button-primary">保存</button>
            <button type="reset" class="button">重置</button>
        </div>
    </div>
</form>
<script>
    (function($) {
        $(function() {
            var Form = BUI.Form;
            new Form.Form({
                srcNode : '#J_Form',
            }).render();
        });
    } (jQuery));
</script>
</body>
</html>