<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <?php include_once $_SERVER["DOCUMENT_ROOT"] . "/Public/include/jquery_mobile_resources.php"; ?>
    <title></title>
</head>
<body>
<div data-role="page" id="pageone">
    <div data-role="header">
        <h1>云智盛世考勤辅助系统</h1>
    </div>

    <div data-role="content">
        <p>在此处写入正文</p>
    </div>

    <div data-role="footer">
        <h1>copy right by gabin</h1>
    </div>
</div>
<script>
    (function($) {
        $(function() {

        });
    } (jQuery));
</script>
</body>
</html>