<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <?php include_once $_SERVER["DOCUMENT_ROOT"] . "/Public/include/jquery_mobile_resources.php"; ?>
    <title></title>
</head>
<body>
<div class="container-fluid" id="XS">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#">考勤</a>
                </li>
                <li>
                    <a href="#">员工</a>
                </li>
                <li class="disabled">
                    <a href="#">异常</a>
                </li>
                <li class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">更多操作</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">管理员</a>
                        </li>
                        <li>
                            <a href="#">管理组</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active">
                        <a href="#">My</a>
                    </li>
                    <li>
                        <a href="#">Lover</a>
                    </li>
                    <li>
                        <a href="#">Edy</a>
                    </li>
                </ul>
            </div>
            <div class="jumbotron well">
                <h1>
                    考勤辅助
                </h1>
                <p class="lead">
                    这只是一个用来辅助学习的系统
                </p>
                <p>
                    <a class="btn btn-lg btn-success" href="#" role="button">登陆</a>
                </p>
            </div>
            <div class="row marketing">
                <div class="col-lg-6">
                    <h4>
                        开心就好
                    </h4>
                    <p>
                        技术玩玩就好！
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>