<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <?php include_once $_SERVER["DOCUMENT_ROOT"] . "/Public/include/resources.php"; ?>
</head>
<body>
<ul class="breadcrumb">
    <li><a href="/index.php/home/attendance/viewList">考勤管理</a> <span class="divider">/</span></li>
    <li class="active">清除月份考勤</li>
</ul>
<form id="J_Form" action="/index.php/home/attendance/dropMonth" method="post" class="form-horizontal">
    <div class="control-group">
        <label class="control-label">清除月份：</label>
        <div class="controls">
            <input type="text" id="J_Month" name="month">
        </div>
    </div>
    <div class="row actions-bar">
        <div class="form-actions span13 offset3">
            <button type="submit" class="button button-primary">删除</button>
            <button type="reset" class="button">重置</button>
        </div>
    </div>
</form>
<script>
    (function($) {
        $(function() {
            var inputEl = $('#J_Month'),
                monthpicker = new BUI.Calendar.MonthPicker({
                    trigger: inputEl,
                    // month:1, //月份从0开始，11结束
                    autoHide: true,
                    align: {
                        points: ['bl', 'tl']
                    },
                    //year:2000,
                    success: function () {
                        var month = this.get('month'),
                                year = this.get('year');
                        if (!year || !month) {
                            return edy.alert("请选择一个月份");
                        }
                        inputEl.val(year + '-' + (++month < 10 ? '0' + month : month));//月份从0开始，11结束
                        this.hide();
                    }
                });
            monthpicker.render();
            monthpicker.on('show', function (ev) {
                var val = inputEl.val(), arr, month, year;
                if (val) {
                    arr = val.split('-'); //分割年月
                    year = parseInt(arr[0]);
                    month = parseInt(arr[1]);
                    monthpicker.set('year', year);
                    month = --month < 10 ? '0' + month : month;
                    monthpicker.set('month', month);
                }
            });

            var Form = BUI.Form;
            new Form.Form({
                srcNode: '#J_Form',
                submitType: 'ajax',
                callback: function (data) {
                    if (edy.ajaxHelp.handleAjax((data))) {
                        BUI.Message.Alert("操作成功");
                        location.href = "/home/attendance/list";
                    }
                }
            }).render();
        });
    } (jQuery));
</script>
</body>
</html>