<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考勤数据</title>
    <?php include_once $_SERVER["DOCUMENT_ROOT"] . "/Public/include/resources.php"; ?>
</head>
<body>
    <div class="row">
        <form id="J_FORM" class="form-panel" action="data" method="post" style="margin-bottom:0;">
            <input type="hidden" name="join" value="edy_employee e on e.id = a.e_id"/>
            <input type="hidden" name="eq_a:status" value="1"/>
            <div class="panel-title">
            <span>
                <label>考勤月：</label>
                <input type="text" id="J_Month" name="like_a:work_date" value="">

                <label>打卡日期：</label><input name="between_a:work_date" type="text" class="calendar" /> <label>至</label> <input name="between_a:work_date" type="text" class="calendar" />

                <label>姓名：</label>
                <!--<input type="text" class="control-text" name="like_e:real_name" value="" />-->
                <div class="suggest" id="realName"></div>

                <label>部门：</label>
                <select name="eq_e:department">
                    <option value="">全部</option>
                    <option value="产品中心">产品中心</option>
                    <option value="开发部">开发部</option>
                    <option value="运营部">运营部</option>
                    <option value="销售部">销售部</option>
                    <option value="市场部">市场部</option>
                    <option value="行政部">行政部</option>
                    <option value="客户中心">客户中心</option>
                    <option value="云智盛世">云智盛世</option>
                </select>
            </span>
            </div>
            <ul class="panel-content">
                <li>
                    <label class="control-text">迟到：</label><input style="width:20px;" id="delay" type="checkbox" name="gt_a:am_time" value="09:00" />
                    <label class="control-text">早退：</label><input style="width:20px;" id="early" type="checkbox" name="lt_a:pm_time" value="18:00" />
                    <label class="control-text">迟到15分钟内：</label><input style="width:20px;" type="checkbox" id="delay15min" name="between_a:am_time" value="09:00,09:15" />
                    <button type="submit" class="button button-primary">查询>></button>
                </li>
            </ul>
        </form>
    </div>
    <div id="grid"></div>
    <div id="calendarDiv">
        <div id="s1">
            <input type="hidden" id="hide" value="" name="hide">
        </div>
        <div id="calendar"></div>
    </div>
<script>
    (function($) {
        $(function() {
            BUI.use('bui/calendar',function(Calendar){
                var form = new BUI.Form.HForm({
                    srcNode : '#J_FORM'
                }).render();

                form.on('beforesubmit',function(ev) {
                    //序列化成对象
                    var obj = form.serializeToObject();
                    obj.start = 0; //返回第一页
                    store.load(obj);
                    return false;
                });
                var inputEl = $('#J_Month'),
                    monthpicker = new BUI.Calendar.MonthPicker({
                        trigger : inputEl,
                        // month:1, //月份从0开始，11结束
                        autoHide : true,
                        align : {
                            points:['bl','tl']
                        },
                        //year:2000,
                        success:function(){
                            var month = this.get('month'),
                                    year = this.get('year');
                            inputEl.val(year + '-' + (++month < 10 ? '0' + month : month));//月份从0开始，11结束
                            this.hide();
                        }
                    });
                monthpicker.render();
                monthpicker.on('show',function(ev){
                    var val = inputEl.val(),
                            arr,month,year;
                    if(val){
                        arr = val.split('-'); //分割年月
                        year = parseInt(arr[0]);
                        month = parseInt(arr[1]);
                        monthpicker.set('year',year);
                        month = --month < 10 ? '0' + month : month;
                        monthpicker.set('month', month);
                    }
                });
                var now = new Date(), year = now.getFullYear(), month = now.getMonth();
                inputEl.val(year + "-" + (month < 10 ? "0" + month : month));
                var Grid = BUI.Grid,
                        Data = BUI.Data;
                var Grid = Grid,
                    Store = Data.Store,
                    columns = [
                        {title: '操作', dataIndex: 'id', width: 80, renderer: function(val, row) {
                            return edy.rendererHelp.createLink("/index.php/home/attendance/edit?id=" + val, "编辑")
                        }},
                        {title: 'id', dataIndex: 'id', width: 60},
                        {title: '姓名', dataIndex: 'real_name', width: 80},
                        {title: '部门', dataIndex: 'department', width: 80},
                        {title: '打卡日期', dataIndex: 'work_date', width: 100},
                        {title: '上午打卡', dataIndex: 'am_time', width: 80},
                        {title: '下午打卡', dataIndex: 'pm_time', width: 80},
                        {title: '前日晚卡', dataIndex: 'yesterday', width: 80},
                        {title: '迟到', dataIndex: 'am_time', width: 80, renderer: function(val, row) {
                            if (!val) {
                                return "";
                            }
                            var result = "";
                            var amArr= val.split(":");
                            var basicAmH = 9, basicAmM = 0;
                            var amRule = (amArr[0] - basicAmH) * 60 + (amArr[1] - basicAmM);
                            if (amRule >  0) {
                                result += amRule + "分钟";
                            }
                            return result;
                        }},
                        {title: '早退', dataIndex: 'pm_time', width: 80, renderer: function(val, row) {
                            if (!val) {
                                return "";
                            }
                            var result = "";
                            var pmArr = val.split(":");
                            var basicPmH = 18, basicPmM = 0;
                            var pmRule = (basicPmH - pmArr[0]) * 60 + (basicPmM - pmArr[1]);
                            if (pmRule >  0) {
                                result += pmRule + "分钟" ;
                            }
                            return result;
                        }},
                        {title: '备注', dataIndex: 'remark', width: 80}
                    ];
                var store = new Store({
                    url : '/index.php/home/attendance/data',
                    autoLoad:false, //自动加载数据
//                        params : $("#J_FORM").serialize(),
                    pageSize:10	// 配置分页数目
                }),
                grid = new Grid.Grid({
                    render:'#grid',
                    columns : columns,
                    loadMask: true, //加载数据时显示屏蔽层
                    store: store,
                    // 底部工具栏
                    bbar:{
                        // pagingBar:表明包含分页栏
                        pagingBar:true
                    },
                    tbar:{ //添加、删除
                        items : [{
                            btnCls : 'button button-small',
                            text : '<i class="icon-plus"></i>初始化月份',
                            listeners : {
                                'click' : function() {
                                    location.href = "/index.php/home/attendance/init";
                                }
                            }
                        },{
                            btnCls : 'button button-small',
                            text : '<i class="icon-plus"></i>导出分析数据',
                            listeners : {
                                'click' : function() {
                                    var Select = BUI.Select, select, month = $("#J_Month").val(), calendar;
                                    if (!month) {
                                        return edy.alert("请选择一个考勤月");
                                    }
                                    window.open("/index.php/home/attendance/analysis?month=" + month)
                                }
                            }
                        },{
                            btnCls : 'button button-small',
                            text : '<i class="icon-plus"></i>导入',
                            listeners : {
                                'click' : function() {
                                    location.href = "/index.php/home/attendance/upload";
                                }
                            }
                        },
                        {
                            btnCls : 'button button-small',
                            text : '<i class="icon-remove"></i>删除',
                            listeners : {
                                'click' : function() {
                                    location.href = "/index.php/home/attendance/drop";
                                }
                            }
                        },
                        {
                            btnCls : 'button button-small',
                            text : '<i class="icon-remove"></i>过滤节假日',
                            listeners : {
                                'click' : function() {
                                    var Select = BUI.Select, select, month = $("#J_Month").val(), calendar;
                                    if (!month) {
                                        return edy.alert("请选择一个考勤月");
                                    }
                                    $.post("/index.php/home/attendance/getDays", {month: month}, function(data) {
                                        var items = data;
                                        select = new Select.Combox({
                                            render:'#s1',
                                            showTag:true,
                                            limit : 3, //限制最多3个
                                            width: 500,
                                            valueField : '#hide',//显示tag的Combox必须存在valueField
                                            items:items,
                                            forbitInput : true, //只能从列表中选择，输入无效,一般用于suggest中
                                            tagFormatter : function(value){ //将id : text中的id去掉
                                                var arr = value.split(':');

                                                return arr[1]; //用户输入
                                            },
                                            list : { //自定义列表
                                                textGetter : function(item){
                                                    return item.id + ':' + item.text;
                                                },
                                                idField : 'id' //默认是value
                                            }
                                        });
                                        select.render();
                                        var Calendar = BUI.Calendar;
                                        calendar = new Calendar.Calendar({
                                            render:'#calendar',
                                        });
                                        calendar.render();
                                        calendar.on('selectedchange',function (ev) {
                                            var _tmp_ = function(val) {
                                                return val > 10 ? val : "0" + val;
                                            };
                                            var date = new Date(ev.date);
                                            date = date.getFullYear() + "-" + _tmp_(date.getMonth() + 1) + "-" + _tmp_(date.getDate());
                                            select.setSelectedValue(date);
                                        });
                                    });
                                    new BUI.Overlay.Dialog({
                                        closeAction: "destroy",
                                        title: "过滤节假日",
                                        width: 580,
                                        height: 250,
                                        contentId: "calendarDiv",
                                        success: function() {
                                            var days = $("#hide").val();
                                            $.post("/index.php/home/attendance/unsetDays", {days:days}, function(data) {

                                            });
                                            $("#s1 li").remove();
                                            $("#hide").val("");
                                            select.destroy();
                                            calendar.destroy();
                                            this.close();
                                        },
                                        cancel: function() {
                                            $("#s1 li").remove();
                                            $("#hide").val("");
                                            select.destroy();
                                            calendar.destroy();
                                            this.close();
                                        }
                                    }).show();
                                }
                            }
                        }]
                    },
                });
                grid.render();
                var form = new BUI.Form.HForm({
                    srcNode : '#J_FORM'
                }).render();
                form.on('beforesubmit',function(ev) {
                    //序列化成对象
                    var obj = form.serializeToObject();
                    obj.start = 0; //返回第一页
                    var lastParams = store.get("lastParams");
                    lastParams["between_a:am_time"] = "";
                    lastParams["gt_a:am_time"] = "";
                    lastParams["lt_a:pm_time"] = "";
                    store.set("lastParams", lastParams);
                    store.load(obj);
                    return false;
                });
                var obj = form.serializeToObject();
                store.load(obj);
                var Select = BUI.Select;
                var suggest = new Select.Suggest({
                    render:'#realName',
                    name:'realName',
                    url:'/index.php/home/attendance/getRealNames'
                });
                suggest.render();
            });

        });
    } (jQuery));
</script>
</body>
</html>